/** @format */

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	50% {
		opacity: 0.3;
	}
	80% {
		opacity: 0.9;
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}
	50% {
		opacity: 0.3;
	}
	80% {
		opacity: 0.9;
		transform: translateX(-10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
