/** @format */

// css preset and reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	// height: 100%;
	width: 100%; /* font-size: 10px; */
	font-size: 62.5%; /* 1rem = 10px*/ /* (10/16)x100 =62.5% */

	@include respond(tab-land) {
		font-size: 56.25%;
	}
	@include respond(tab-port) {
		font-size: 50%;
	}
	@include respond(big-desktop) {
		font-size: 75%;
	}
}
body {
	box-sizing: border-box;
	padding: 3rem;
	@include respond(tab-port) {
		padding: 0;
	}
}
